@{
    ViewData["Title"] = "About";
    Layout = "_Layout";
}


<section class="section__container about__container" id="about">
    <div class="about__image">
        <img src="~/assets/about.png">
    </div>
    <div class="about__content">
        <h2 class="section__header">Our Story</h2>
        <p class="section__description">
            Guided by our team of skilled and inspiring instructors, "The Class You'll Experience Here" offers a dynamic and effective session designed to deliver tangible results. It integrates a balanced mix of cardio, strength training, and functional exercises to energize and motivate participants.
        </p>
        <div class="about__grid">
            <div class="about__card">
                <div>
                    <h4>Open Door Policy</h4>
                    <p>
                        Our philosophy prioritizes equal opportunities, embracing diverse fitness levels, ages, and backgrounds. We strive to create an inclusive environment supporting every individual's journey to better health, fostering a sense of belonging in our community.
                    </p>
                </div>
            </div>
            <div class="about__card">
                <div>
                    <h4>Fully Insured</h4>
                    <p>
                        Ensuring your peace of mind remains our foremost concern, and our dedication to your safety permeates every facet of your fitness journey. We leave no stone unturned in creating an environment where you can exercise confidently, knowing that your well-being is our utmost priority.
                    </p>
                </div>
            </div>
            <div class="about__card">
                <div>
                    <h4>Personal Trainer</h4>
                    <p>
                        By crafting personalized workout plans customized to your specific needs, we are dedicated to maximizing the effectiveness of your gym journey. Our goal is to optimize every aspect of your fitness experience, ensuring you achieve your desired results while enjoying a tailored and fulfilling workout regimen.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
