@{
    ViewData["Title"] = "Home Page";
}

<div class="section__container header__container" id="home">
    <div class="header__image">
        <img src="assets/header.png" alt="header" />
    </div>
    <div class="header__content">
        <h4>Build Your Body &</h4>
        <h1 class="section__header">Shape Yourself!</h1>
        <p>
            Discover your inner strength and embark on a journey to enhance your fitness and confidence. Join now to witness the remarkable transformation your body can undergo!
        </p>
    </div>
</div>